@import url("./variables.css");

body {
  background-color: var(--backgroundColorBody);
  font-family: var(--fontBase);
}

.bottom-deco-img {
  transform: translate(0%, 50%);
}

.top-deco-img {
  transform: translate(0%, -50%);
}

.container.profile-card {
  width: 325px;
  height: 375px;
}

@media only screen and (min-width: 768px) {
  .container.profile-card {
    width: 355px;
  }
}

.profile-card_top-deco {
  height: 142px;
}

.profile-card_informations {
  transform: translateY(-70%);
}

.profile-card_stats {
  transform: translateY(-22%);
}

.profile-card_name,
.profile-card_stats-number {
  color: var(--primaryTextColor);
  font-size: var(--fontSizeMedium);
}

.profile-card_age,
.profile-card_location,
.profile-card_stats-text {
  color: var(--secondaryTextColor);
  font-size: var(--fontSizeLittle);
}

.profile-card_age {
  font-size: var(--fontSizeMedium);
}

.profile-card_stats-text {
  font-size: 12px;
  letter-spacing: 0.2em;
}

footer {
    position: absolute;
}

.footer_text {
  color: var(--primaryTextColor);
}

@media only screen and (max-height: 650px) {
  body{
    padding-top: 40px;
  }
  footer {
    position: static;
    padding: 0
  }
}